<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isTextureSaved</key>
	<string>false</string>
	<key>isPotterySaved</key>
	<string>false</string>
	<key>ClassicalShapeNeverMention</key>
	<string>false</string>
	<key>total</key>
	<integer>0</integer>
	<key>New item</key>
	<data></data>
</dict>
</plist>
